body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
/*  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 300px 300px; */
  grid-template: 300px 100px 150px / repeat(6, minmax(200px, 1fr));
/*   grid-column-gap: 30px;
  grid-row-gap: 30px; */
  grid-gap: 10px;
}

.item {
  background-color: lightblue;
  border: solid 1px red;
  padding: 10px;
}

.item:nth-of-type(4) {
  background-color: lightcoral;
  display: grid;
  grid-template: 50px 50px 50px / 100px  100px  100px;
  overflow: auto;
}

.item .item {
  background-color: lightgreen;
}